<html>
    <head>
        <title>Say goodbye</title>
    </head>
    <body>
        <h1>Goodbye!</h1>
        <p>Glad to see you again!</p>
        <p>
            Say <%=link_to "hello, Rails", say_hello_path%>!
        </p>
        <p>
            <%= 1.hour.from_now%>
        </p>
        <p>Find me in app/views/say/goodbye.html.erb</p>
    </body>
</html>
